<div class="navbar">
  <div class="navbar-logo">
    <%= image_tag "navbar-logo.png", class: "logo-image"%>
  </div>
  <div class="navbar-links">
    <%=link_to home_path do %>
      <i class="bi bi-house" style="color: #0066CC; font-size: 2rem"></i>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to user_dashboard_path do %>
        <i class="bi bi-speedometer2" style="color: #0066CC; font-size: 2rem"></i>
      <% end %>
      <%=link_to destroy_user_session_path do %>
        <i class="bi bi-door-closed" style="color: #0066CC; font-size: 2rem"></i>
      <% end %>
    <% else %>
      <%=link_to new_user_session_path do %>
        <i class="bi bi-box-arrow-in-right" style="color: #0066CC; font-size: 2rem"></i>
      <% end %>
      <%=link_to about_path do %>
        <i class="bi bi-file-person" style="color: #0066CC; font-size: 2rem"></i>
      <% end %>
    <% end %>
  </div>
</div>

<div id='root2'>
<%= javascript_pack_tag 'index' %>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/m-cwalina/ConnectGolf"><i class="fab fa-github" style="color: #0066CC; font-size: 2rem"></i></a>
    <a href="https://www.linkedin.com/in/matthew-cwalina/"><i class="fab fa-linkedin" style="color: #0066CC; font-size: 2rem"></i></a>
  </div>
  <div class="footer-copyright">
    <p style="font-size: 1.2rem; color: black"><i class="bi bi-file-code-fill" style='color: black; font-size: 1.5rem'></i> Matthew Cwalina</p>
  </div>
</div>
