<h1>Friendships Index</h1>

<h1>Friends</h1>
<% @friendships.each do |friendship| %>
  <% if friendship.status == "accepted" %>
    <p><%= friendship.friend.name %></p>
  <% end %>
<% end %>

<h1>Requested Friends</h1>
<% @friendships.each do |friendship| %>
  <% if friendship.status == "requested" %>
    <%= friendship.friend.name %>
  <% end %>
<% end %>

<h1>Pending Friends</h1>
<% @friendships.each do |friendship| %>
  <% if friendship.status == "pending" %> <!-- If receiving friendship request --->
    <%= friendship.friend.name %>
    <%= link_to 'Accept', friendship, friendship:{status: "accepted", accepted_at:"#{Time.now}"}, remote: true, method: :patch %>
    <%= link_to 'Decline', friendship, friendship:{user_id: friendship.friend, friend_id: current_user }, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
