<h1>Show for tee time created</h1>
<% @tee_time.users.each do |user| %>
  <%= user.name %>
<% end %>
<% @tee_time.bookings.each do |booking| %>
  <%= booking.size %>
<% end %>

<%= week_calendar(events: @tee_times) do |date, tee_times| %>
  <%= date.day %>

  <% tee_times.map do |tee_time| %>
    <div>
      <h2><%= tee_time.time.strftime('%I:%M%p') %></h2>
      <h2><%= tee_time.players %> players</h2>
      <%=link_to new_tee_time_booking_path(tee_time) do %>
        <div type="button" class="btn btn-primary btn-lg">Tee Time</div>
      <% end %>
    </div>
  <% end %>
<% end %>

  <% @tee_times.map do |tee_time| %>
    <div>
      <h2><%= tee_time.time.strftime('%I:%M%p') %></h2>
      <h2><%= tee_time.players %> players</h2>
      <%=link_to new_tee_time_booking_path(tee_time) do %>
        <div type="button" class="btn btn-primary btn-lg">Tee Time</div>
      <% end %>
    </div>
  <% end %>
