<h1>Friends</h1>
<% @user.friendships.each do |friendship| %>
<p><%= friendship.friend.name %></p>
<% end %>

<h1>Requested Friends</h1>
<% @user.requested_friends.each do |friend| %>
<%= friend.name %>
<% end %>

<h1>Pending Friends</h1>
<% @user.pending_friends.each do |friend| %>
  <%= friend.name %>
  <% @friendships.each do |friendship| %>
    <% if friendship.status == "pending" %> <!-- If receiving friendship request --->
      <%= link_to 'Accept', friendship, friendship:{status: "accepted", accepted_at:"#{Time.now}"}, remote: true, method: :patch %>
      <%= link_to 'Delete', friendship, friendship:{user_id: friendship.friend, friend_id: current_user }, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
<% end %>
