<h1>Your Friends</h1>
<% @friendships.each do |friendship| %>
  <%= friendship.friend.name %>
  <% if friendship.status == "pending" %> <!-- If receiving friendship request --->
    <%= link_to 'Accept', friendship, friendship:{status: "accepted", accepted_at:"#{Time.now}"}, remote: true, method: :patch %><%= link_to 'Delete', friendship, friendship:{user_id: friendship.friend, friend_id: current_user }, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% elsif friendship.status == "accepted" && friendship.friend == current_user %> <!-- If accepted friendship request and friend --->
    <%= link_to 'Delete', friendship, friendship:{user_id: friendship.friend, friend_id: current_user }, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% elsif friendship.status == "accepted" && friendship.user == current_user %> <!-- If accepted friendship request and user --->
    <%= link_to 'Delete', friendship, friendship:{user_id: current_user, friend_id: friendship.friend }, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% else %> <!-- if sending friendship request -->
    <%= link_to 'Delete', friendship, friendship:{user_id: current_user, friend_id: friendship.friend}, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
