<div class="navbar">
  <div class="navbar-logo">
  <%= link_to home_path do %>
    <%= image_tag "navbar-logo.png", class: "logo-image"%>
  <% end %>
  </div>
  <div class="navbar-links">
    <% if user_signed_in? %>
      <%=link_to user_dashboard_path do %>
        <i class="bi bi-house" style="color: #0066CC; font-size: 2rem"></i>
        <p>Home</p>
      <% end %>
      <%= link_to dashboard_path do %>
        <i class="bi bi-speedometer2" style="color: #0066CC; font-size: 2rem"></i>
        <p>Dashboard</p>
      <% end %>
      <%=link_to destroy_user_session_path do %>
        <i class="bi bi-door-closed" style="color: #0066CC; font-size: 2rem"></i>
        <p>Logout</p>
      <% end %>
    <% else %>
      <%=link_to new_user_session_path do %>
        <i class="bi bi-box-arrow-in-right" style="color: #0066CC; font-size: 2rem"></i>
        <p>Sign In</p>
      <% end %>
      <%=link_to about_path do %>
        <i class="bi bi-file-person" style="color: #0066CC; font-size: 2rem"></i>
        <p>About</p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="title-container">
  <h1 style="font-size: 120px">ConnectGolf</h1>
  <h3 style="font-size: 50px">Connect better with your members and their guests.</h3>
</div>
<div class="flex-container-2">
  <div class="idea-container">
    <i class="bi bi-lightbulb" style="font-size: 100px; color: black"></i>
    <h2>The Idea</h2>
    <h4>Connecting with other golfers at your club is hard. Now with GolfConnect you can make tee times, share photos, stories and update your friends on which hole you just aced! All of this is confined within the club. A private platform to talk with other members</h4>
  </div>
  <div class="image-container">
    <%= image_tag "how-it-works.png", class: "how-it-works-image"%>
  </div>
</div>
<div class="flex-container">
  <div class="image-container">
    <%= image_tag "working.png", class: "idea-pic-image"%>
  </div>
  <div class="idea-container">
    <i class="bi bi-person-workspace" style="font-size: 100px; color: black"></i>
    <h2>How we work</h2>
    <h4>Get invited to join the clubs ConnectAccount. As a club administrator you can post about upcoming tournaments, create tee times for the upcoming weeks or view your Club's analytics </h4>
  </div>
</div>
<div class="flex-container-2">
  <div class="idea-container">
    <i class="bi bi-battery-charging" style="font-size: 100px; color: black"></i>
    <h2>Getting Started</h2>
    <h4>Try it out today! You can preview the application and see what ConnectGolf could do for your club and its members</h4>
    <%= link_to new_user_session_path do %>
      <div type="button" class="btn btn-outline-dark btn-lg">Try Out</div>
    <% end %>
  </div>
  <div class="image-container">
    <%= image_tag "try-out.png", class: "how-it-works-image"%>
  </div>
</div>
<div class="flex-container">
  <div class="image-container">
    <%= image_tag "teaching.png", class: "idea-pic-image"%>
  </div>
  <div class="idea-container">
    <i class="bi bi-kanban" style="font-size: 100px; color: black"></i>
    <h2>The Project</h2>
    <h4>This project is being built on continously. It focuses on development using a Ruby/Rails API backend application with a React.js frontend built UI/UX. More detailed information can be found on my Github. </h4>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/m-cwalina/ConnectGolf"><i class="fab fa-github" style="color: #0066CC; font-size: 2rem"></i></a>
    <a href="https://www.linkedin.com/in/matthew-cwalina/"><i class="fab fa-linkedin" style="color: #0066CC; font-size: 2rem"></i></a>
  </div>
  <div class="footer-copyright">
    <p style="font-size: 1.2rem; color: black"><i class="bi bi-file-code-fill" style='color: black; font-size: 1.5rem'></i> Matthew Cwalina</p>
  </div>
</div>
