<div class="navbar">
  <div class="navbar-logo">
  <%= link_to home_path do %>
    <%= image_tag "navbar-logo.png", class: "logo-image"%>
  <% end %>
  </div>
    <div class="navbar-links">
    <% if user_signed_in? %>
      <%=link_to user_dashboard_path do %>
        <i class="bi bi-house" style="color: #0066CC; font-size: 2rem"></i>
        <p>Home</p>
      <% end %>
      <%=link_to tee_times_path do %>
        <i class="bi bi-calendar4-week" style="color: #0066CC; font-size: 2rem"></i>
        <p>TeeTimes</p>
      <% end %>
      <%=link_to users_path do %>
        <i class="bi bi-people" style="color: #0066CC; font-size: 2rem"></i>
        <p>Members</p>
      <% end %>
      <%=link_to friendships_path do %>
        <i class="bi bi-person-check" style="color: #0066CC; font-size: 2rem"></i>
        <p>Friends</p>
      <% end %>
      <%= link_to dashboard_path do %>
        <i class="bi bi-speedometer2" style="color: #0066CC; font-size: 2rem"></i>
        <p>Dashboard</p>
      <% end %>
      <%=link_to destroy_user_session_path do %>
        <i class="bi bi-door-closed" style="color: #0066CC; font-size: 2rem"></i>
        <p>Logout</p>
      <% end %>
    <% else %>
      <%=link_to new_user_session_path do %>
        <i class="bi bi-box-arrow-in-right" style="color: #0066CC; font-size: 2rem"></i>
        <p>Sign In</p>
      <% end %>
      <%=link_to about_path do %>
        <i class="bi bi-file-person" style="color: #0066CC; font-size: 2rem"></i>
        <p>About</p>
      <% end %>
    <% end %>
  </div>
</div>

<div class='title-club-container'>
  <h1 class="club-name"><%= @user.club.name %></h1>
  <div><%= image_tag "SACC-logo.png"%></div>
</div>

<div class='flex-container'>
  <div class='news-container'>
    <h2>News Feed</h2>
    <% @user.club.posts.map do |post| %>
      <ul class='bullet-posts'><li><h3 class="posts"><%= post.content %></h3></li></ul>
    <% end %>
  </div>

  <div class='teetime-container'>
  <h2>Tee Times</h2>
    <% if @tee_times.any? %>
      <% @tee_times.map do |tee_time|%>
        <div class='teetime'>
          <div style="display: flex; align-items: center; justify-content: left">
            <div style="margin-right: 10px; text-align: justify;"><i class="bi bi-check2-circle" style='font-size: 2rem; color: #1A8753;'></i></div>
            <div style="font-size: 1.8rem; color: #0066CC;"><%= (tee_time.time.to_datetime + 1.hours).strftime('%a %b %-d %I:%M%p') %></div>
          </div>
        </div>
      <% end %>
    <% else %>
      <h2>You have no tee times at the moment</h2>
    <% end %>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/m-cwalina/ConnectGolf"><i class="fab fa-github" style="color: #0066CC; font-size: 2rem"></i></a>
    <a href="https://www.linkedin.com/in/matthew-cwalina/"><i class="fab fa-linkedin" style="color: #0066CC; font-size: 2rem"></i></a>
  </div>
  <div class="footer-copyright">
    <p style="font-size: 1.2rem; color: black"><i class="bi bi-file-code-fill" style='color: black; font-size: 1.5rem'></i> Matthew Cwalina</p>
  </div>
</div>
