<div class="navbar">
  <div class="navbar-logo">
    <%= image_tag "golf-logo.png", class: "logo-image"%>
  </div>
  <div class="navbar-links">
    <a><%=link_to 'Home', home_path%></a>
    <% if user_signed_in? %>
      <a><%= link_to "Dashboard", user_dashboard_path %></a>
      <a><%=link_to "Log Out", destroy_user_session_path%></a>
    <% else %>
      <a><%=link_to "Sign In", new_user_session_path %></a>
      <a><%=link_to 'About', about_path%></a>
    <% end %>
  </div>
</div>

<h2>Log in</h2>
<h2>To Demo use</h2>
<h2>Email: 1@gmail.com</h2>
<h2>Password: 123456</h2>

<div class="booking-container">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/m-cwalina/ConnectGolf"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/matthew-cwalina/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Created with Ruby on Rails & React.js
  </div>
</div>
