<div class='sign-in-page-container'>
  <div class="sign-in-container">
  <div class="sign-in-logo-container">
    <%= image_tag "navbar-logo.png", class: "sign-in-image"%>
  </div>
  <div>
     <h3 style="font-weight:400; margin-top: 0px;">Please Sign In</h3>
  </div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, placeholder: 'email: 1@gmail.com',
                    label: false,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password, placeholder: 'password: password',
                    label: false,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit,  "Log in", class: "btn btn-outline-success btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
