<div class="navbar">
  <div class="navbar-logo">
    <%= image_tag "navbar-logo.png", class: "logo-image"%>
  </div>
  <div class="navbar-links">
    <%=link_to home_path do %>
      <i class="bi bi-house" style="color: #0066CC; font-size: 2rem"></i>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to user_dashboard_path do %>
        <i class="bi bi-speedometer2" style="color: #0066CC; font-size: 2rem"></i>
      <% end %>
      <%=link_to destroy_user_session_path do %>
        <i class="bi bi-door-closed" style="color: #0066CC; font-size: 2rem"></i>
      <% end %>
    <% else %>
      <%=link_to new_user_session_path do %>
        <i class="bi bi-box-arrow-in-right" style="color: #0066CC; font-size: 2rem"></i>
      <% end %>
      <%=link_to about_path do %>
        <i class="bi bi-file-person" style="color: #0066CC; font-size: 2rem"></i>
      <% end %>
    <% end %>
  </div>
</div>

<div class='title-club-container'>
  <h1 class="club-name"><%= @user.club.name %></h1>
  <div><%= image_tag "SACC-logo.png"%></div>
</div>

<div class='button-container'>
  <%=link_to tee_times_path do %>
    <button type="button" class="btn btn-outline-success btn-lg">Tee Times</button>
  <% end %>
  <%=link_to users_path do %>
    <button type="button" class="btn btn-outline-success btn-lg">Members</button>
  <% end %>
  <%=link_to friendships_path do %>
    <button type="button" class="btn btn-outline-success btn-lg">Friends</button>
  <% end %>
</div>

<div class='flex-container'>
  <div class='news-container'>
    <h2>News Feed</h2>
    <% @user.club.posts.map do |post| %>
      <ul class='bullet-posts'><li><h3 class="posts"><%= post.content %></h3></li></ul>
    <% end %>
  </div>

  <div class='teetime-container'>
  <h2>Tee Times</h2>
    <% if @tee_times.any? %>
      <% @tee_times.map do |tee_time|%>
        <div class='teetime'>
          <div style="display: flex; align-items: center; justify-content: left">
            <div style="margin-right: 10px; text-align: justify;"><i class="bi bi-check2-circle" style='font-size: 2rem; color: #1A8753;'></i></div>
            <div style="font-size: 1.8rem; color: #0066CC;"><%= (tee_time.time.to_datetime + 2.hours).strftime('%a %b %-d %I:%M%p') %></div>
          </div>
        </div>
      <% end %>
    <% else %>
      <h2>You have no tee times at the moment</h2>
    <% end %>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/m-cwalina/ConnectGolf"><i class="fab fa-github" style="color: #0066CC; font-size: 2rem"></i></a>
    <a href="https://www.linkedin.com/in/matthew-cwalina/"><i class="fab fa-linkedin" style="color: #0066CC; font-size: 2rem"></i></a>
  </div>
  <div class="footer-copyright">
    Created by Matthew Cwalina
  </div>
</div>
