<div class='title-club-container'>
  <h1><%= @user.club.name %></h1>
</div>

<div class='flex-container'>
  <div class='news-container'>
    <h2>News Feed</h2>
    <% @user.club.posts.map do |post| %>
      <ul><li><%= post.content %></ul></li>
    <% end %>
  </div>


  <div class='teetime-container'>
    <h2>Tee Times</h2>
    <% if @tee_times.any? %>
      <% @tee_times.map do |tee_time|%>
        <ul><li><%= tee_time.time.strftime('%a %b %-d %I:%M%p') %></ul></li>
      <% end %>
    <% else %>
      <h2>You have no tee times at the moment</h2>
    <% end %>
  </div>
</div>

<div class='button-container'>
  <%=link_to tee_times_path do %>
    <button type="button" class="btn btn-outline-success btn-lg">Tee Times</button>
  <% end %>
  <%=link_to users_path do %>
    <button type="button" class="btn btn-outline-success btn-lg">Members</button>
  <% end %>
  <%=link_to friendships_path do %>
    <button type="button" class="btn btn-outline-success btn-lg">Friends</button>
  <% end %>
</div>
